.Content {
  padding: 3vw;
}

.input-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
}

.content-section {
  width: 100%;
  height: 55vh;
  display: flex;
  align-items: center;
  overflow: auto;
}
