.List-Item {
  flex: 0 0 20vw;
  width: 20vw;
  height: 35vh;
  margin: 1vw;
  color: #ffffff;
  background-color: #b2a2c1;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #000000;
  opacity: 0.89;
}

.List-Item:hover {
  background-color: #8b6ba8;
  opacity: 0.89;
}

.list-item-header {
  font-size: 1.5rem;
}

.list-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 2vw;
  font-size: 1.2rem;
  overflow: scroll;
}

@media screen and (max-width: 900px) {
  .list-item-content {
    font-size: 0.8rem;
  }
  .list-item-header {
    font-size: 1.2rem;
  }
}

.list-item-content h3 {
  margin-left: 1vw;
  margin-bottom: 3vh;
}

.list-item-button {
  margin-top: 4vh;
  background: #aec49d;
}
