body {
  font-family: 'Dancing Script', cursive;
}

.App {
  text-align: center;
}

.img-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-image: url('./media/desktop.jpg');
  background-size: cover;
}
